<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style1.css">
    
    <title>Document</title>
</head>
<body>

    <div class="container-one">
        <div class="nav">
            <div class="logo">
                <img src="../Images/Logo.png" alt="Logo">
                <!--<h1>@YourDoor</h1>-->
            </div>
            <div class="tag">
                <a href="/index">Home</a>
                <a href="/pro">Services</a>
                <a href="/aboutus">About Us</a>
                <a href="/login" id="login">Log In</a>
            </div>
        </div>
      
        <div class="title">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="container-two">

        <div class="box1">
            <div class="whoweare">
                <h1>Who we are</h1>
            </div>
            <div class="msg">
                <p>WorkUp is a online service provider meaning you can "order" professionals to do your job
                    Our vision is to provide this service so that it will be easy and convenient for you to find professionals in need.<br><br>
                    We are a team of five engineering students. We started this service website as a project in college. And we hope that you find our hard work handy in your day to day life.</p>
            </div>
        </div>
       
        <div class="box2">
            <div class="member">
                <div class="title">
                    <h1>Members</h1>
                </div>
                <div class="content-one" >
                    <div class="one">
                        <img src="../Images/sangay.jpg" alt="Sangay">
                        <h2>Tenzin Gurme</h2>
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <path id="Icon_simple-linkedin" data-name="Icon simple-linkedin" d="M30.67,30.678H25.34V22.324c0-1.992-.041-4.556-2.778-4.556-2.779,0-3.2,2.167-3.2,4.409v8.5H14.026V13.5h5.121v2.342h.069a5.618,5.618,0,0,1,5.055-2.775c5.4,0,6.4,3.555,6.4,8.183v9.429ZM8.005,11.149a3.1,3.1,0,1,1,3.1-3.1A3.093,3.093,0,0,1,8.005,11.149Zm2.673,19.528H5.332V13.5h5.346ZM33.338,0H2.657A2.625,2.625,0,0,0,0,2.593V33.406A2.624,2.624,0,0,0,2.657,36H33.333A2.634,2.634,0,0,0,36,33.407V2.593A2.635,2.635,0,0,0,33.333,0Z" fill="#067bd4"/>
                              </svg>
                              
                        </div>
                        <p><span style="font-style: italic;">"The dedicated one. Would work solo as long as possible. Hesitates to ask for help."</span><br><br>-Research Paper</p>
                    </div>
                    <div class="one">
                        <img src="../Images/sangay.jpg" alt="Sangay">
                        <h2>Phurpa Tsering</h2>
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <path id="Icon_simple-linkedin" data-name="Icon simple-linkedin" d="M30.67,30.678H25.34V22.324c0-1.992-.041-4.556-2.778-4.556-2.779,0-3.2,2.167-3.2,4.409v8.5H14.026V13.5h5.121v2.342h.069a5.618,5.618,0,0,1,5.055-2.775c5.4,0,6.4,3.555,6.4,8.183v9.429ZM8.005,11.149a3.1,3.1,0,1,1,3.1-3.1A3.093,3.093,0,0,1,8.005,11.149Zm2.673,19.528H5.332V13.5h5.346ZM33.338,0H2.657A2.625,2.625,0,0,0,0,2.593V33.406A2.624,2.624,0,0,0,2.657,36H33.333A2.634,2.634,0,0,0,36,33.407V2.593A2.635,2.635,0,0,0,33.333,0Z" fill="#067bd4"/>
                              </svg>
                              
                        </div>
                        <p><span style="font-style: italic;">"The leader in disguise."</span><br><br>- Front-End Developer<br>- Back-End Developer<br>- Data Management</p>
                    </div>
                    <div class="one">
                        <img src="../Images/sangay.jpg" alt="Sangay">
                        <h2>Tenzin Choeying</h2>
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <path id="Icon_simple-linkedin" data-name="Icon simple-linkedin" d="M30.67,30.678H25.34V22.324c0-1.992-.041-4.556-2.778-4.556-2.779,0-3.2,2.167-3.2,4.409v8.5H14.026V13.5h5.121v2.342h.069a5.618,5.618,0,0,1,5.055-2.775c5.4,0,6.4,3.555,6.4,8.183v9.429ZM8.005,11.149a3.1,3.1,0,1,1,3.1-3.1A3.093,3.093,0,0,1,8.005,11.149Zm2.673,19.528H5.332V13.5h5.346ZM33.338,0H2.657A2.625,2.625,0,0,0,0,2.593V33.406A2.624,2.624,0,0,0,2.657,36H33.333A2.634,2.634,0,0,0,36,33.407V2.593A2.635,2.635,0,0,0,33.333,0Z" fill="#067bd4"/>
                              </svg>
                              
                        </div>
                        <p>-The front end Designer
                           <br>-Animator
                        </p>
                    </div>
                    
                </div>
                <div class="content-two">
                    <div class="two">
                        <img src="../Images/sangay.jpg" alt="Sangay">
                        <h2>Sangay Choikyong</h2>
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <path id="Icon_simple-linkedin" data-name="Icon simple-linkedin" d="M30.67,30.678H25.34V22.324c0-1.992-.041-4.556-2.778-4.556-2.779,0-3.2,2.167-3.2,4.409v8.5H14.026V13.5h5.121v2.342h.069a5.618,5.618,0,0,1,5.055-2.775c5.4,0,6.4,3.555,6.4,8.183v9.429ZM8.005,11.149a3.1,3.1,0,1,1,3.1-3.1A3.093,3.093,0,0,1,8.005,11.149Zm2.673,19.528H5.332V13.5h5.346ZM33.338,0H2.657A2.625,2.625,0,0,0,0,2.593V33.406A2.624,2.624,0,0,0,2.657,36H33.333A2.634,2.634,0,0,0,36,33.407V2.593A2.635,2.635,0,0,0,33.333,0Z" fill="#067bd4"/>
                              </svg>
                              
                        </div>
                        <p>- Front-End Developer<br>- Report 
                        </p>
                    </div>
                    <div class="two">
                        <img src="../Images/sangay.jpg" alt="Sangay">
                        <h2>Tenzin Tseyang</h2>
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                                <path id="Icon_simple-linkedin" data-name="Icon simple-linkedin" d="M30.67,30.678H25.34V22.324c0-1.992-.041-4.556-2.778-4.556-2.779,0-3.2,2.167-3.2,4.409v8.5H14.026V13.5h5.121v2.342h.069a5.618,5.618,0,0,1,5.055-2.775c5.4,0,6.4,3.555,6.4,8.183v9.429ZM8.005,11.149a3.1,3.1,0,1,1,3.1-3.1A3.093,3.093,0,0,1,8.005,11.149Zm2.673,19.528H5.332V13.5h5.346ZM33.338,0H2.657A2.625,2.625,0,0,0,0,2.593V33.406A2.624,2.624,0,0,0,2.657,36H33.333A2.634,2.634,0,0,0,36,33.407V2.593A2.635,2.635,0,0,0,33.333,0Z" fill="#067bd4"/>
                              </svg>
                              
                        </div >
                        <p>-Back-End<br>- Authentication</p>
                    </div>
                </div>
            </div>
        </div>

       
    </div>

    <script>
         window.addEventListener("DOMContentLoaded",()=>{
          const log=document.getElementById("login");

              fetch("../data/log.json").then(response=>response.json())
                .then(data=>{
                  if(data.logged==true){
                    log.innerHTML="Log Out";
                    log.style.color="Black";
                    log.style.background="White";
                    
                    log.setAttribute('href',"/sessionlogout");
                    
                  }
                  else{
                    
                    log.innerHTML="Log In";
                    log.setAttribute('href',"/login");
                    
                  }
                })
        });
    </script>

    
    
</body>
</html>