<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet.css">
    <title>List Of Professionals</title>
</head>
<body>
    <header>
        <div class="container">
          <div class="header-left">
            <img src="../Images/Logo.png" alt="" style="width: 200px;position: relative;margin-top: 20px;">
          </div>
          <!-- Add a menu icon here -->
          <a href="#" class="menu-icon">
            <span class="fa fa-bars"></span>
          </a>
          <div class="header-right">
            <a href="#">Home</a>
            <a href="#">services</a>
            <a href="#">About Us</a>
            <a href="login.html" class="login" >Log Out</a>
          </div>
        </div>
      </header>
</body>
</html>